{% extends 'table/base.html' %}

{% block title %}European Reference Index for the Humanities{% endblock %}

{% block heading %}<h1 class="display-4 text-center">European Reference Index for the Humanities</h1>{% endblock %}

{% block tabs %}
<ul class="nav nav-pills justify-content-center my-5">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'table:erih' %}">Table</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'charts:erih' %}">Charts</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{# url 'erih_about' #}">About</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mb-2">
    <form class="user-select-none">
        {% if number_of_results %}
        <input type="hidden" name="results" value="{{ number_of_results }}">
        {% endif %}

        <!-- SEARCH GROUP -->
        <div class="btn-group">
            <input type="text" class="form-control" id="searchInput" name="search" value="{{ searched_string }}"
                placeholder="Search something">
        </div>

        <!-- DISCIPLINE GROUP -->
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                Discipline
            </button>

            <!-- <div class="dropdown-menu p-2"> -->
            <div class="dropdown-menu overflow-x-hidden overflow-y-scroll p-2" style="height: 50vh; width: 23vw;">
                <div class="form-check m-1">
                    <input {% if 'discipline' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="discipline" id="disciplineSortInput1">
                    <label class="form-check-label" for="disciplineSortInput1">
                        Ascending <i class="bi bi-arrow-up"></i>
                    </label>
                </div>

                <div class="form-check m-1">
                    <input {% if '-discipline' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="-discipline" id="disciplineSortInput2">
                    <label class="form-check-label" for="disciplineSortInput2">
                        Descending <i class="bi bi-arrow-down"></i>
                    </label>
                </div>

                <input type="text" class="form-control m-1" id="searchbar" onkeyup="search_discipline()"
                    placeholder="Search discipline">

                <script>
                    function search_discipline() {
                        let input = document.getElementById('searchbar').value
                        input = input.toLowerCase();
                        let x = document.getElementsByClassName('btn btn-outline-primary');

                        for (i = 0; i < x.length; i++) {
                            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                                x[i].parentElement.style.display = "none";
                            }
                            else {
                                x[i].parentElement.style.display = "block";
                            }
                        }
                    }
                </script>

                <div class="d-flex flex-wrap">
                    {% for item in all_disciplines %}
                    <div class="form-check p-0 m-1">
                        <input {% if item in requested_disciplines %}checked{% endif %} type="checkbox"
                            class="btn-check dropdown-item" id="disciplineToggleInput{{ forloop.counter }}"
                            name="discipline" value="{{ item }}" autocomplete="off">
                        <label class="btn btn-outline-primary" for="disciplineToggleInput{{ forloop.counter }}">
                            {{ item }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- CAT_2007 GROUP -->
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                Category 2007
            </button>

            <div class="dropdown-menu p-2">
                <div class="form-check">
                    <input {% if 'cat_2007' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="cat_2007" id="cat2007SortInput1">
                    <label class="form-check-label" for="cat2007SortInput1">
                        Ascending <i class="bi bi-arrow-up"></i>
                    </label>
                </div>

                <div class="form-check">
                    <input {% if '-cat_2007' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="-cat_2007" id="cat2007SortInput2">
                    <label class="form-check-label" for="cat2007SortInput2">
                        Descending <i class="bi bi-arrow-down"></i>
                    </label>
                </div>

                {% for item in all_categories %}
                <div class="form-check">
                    <input {% if item in requested_cat_2007 %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="cat_2007" value="{{ item }}" id="cat2007CheckInput{{ forloop.counter }}">
                    <label class="form-check-label" for="cat2007CheckInput{{ forloop.counter }}">
                        {{ item }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- CAT_2011 GROUP -->
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                Category 2011
            </button>

            <div class="dropdown-menu p-2">
                <div class="form-check">
                    <input {% if 'cat_2011' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="cat_2011" id="cat2011SortInput1">
                    <label class="form-check-label" for="cat2011SortInput1">
                        Ascending <i class="bi bi-arrow-up"></i>
                    </label>
                </div>

                <div class="form-check">
                    <input {% if '-cat_2011' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="-cat_2011" id="cat2011SortInput2">
                    <label class="form-check-label" for="cat2011SortInput2">
                        Descending <i class="bi bi-arrow-down"></i>
                    </label>
                </div>

                {% for item in all_categories %}
                <div class="form-check">
                    <input {% if item in requested_cat_2011 %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="cat_2011" value="{{ item }}" id="cat2011CheckInput{{ forloop.counter }}">
                    <label class="form-check-label" for="cat2011CheckInput{{ forloop.counter }}">
                        {{ item }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- TITLE GROUP -->
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                Title
            </button>

            <div class="dropdown-menu p-2">
                <div class="form-check">
                    <input {% if 'title' in requested_sort %}checked{% endif %} class="form-check-input" type="checkbox"
                        name="sort" value="title" id="titleSortInput1">
                    <label class="form-check-label" for="titleSortInput1">
                        Ascending <i class="bi bi-arrow-up"></i>
                    </label>
                </div>

                <div class="form-check">
                    <input {% if '-title' in requested_sort %}checked{% endif %} class="form-check-input"
                        type="checkbox" name="sort" value="-title" id="titleSortInput2">
                    <label class="form-check-label" for="titleSortInput2">
                        Descending <i class="bi bi-arrow-down"></i>
                    </label>
                </div>
            </div>
        </div>

        <!-- ISSN GROUP -->
        <div class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false">
                ISSN
            </button>

            <div class="dropdown-menu p-2">
                <div class="form-check">
                    <input {% if 'issn' in requested_sort %}checked{% endif %} class="form-check-input" type="checkbox"
                        name="sort" value="issn" id="issnSortInput1">
                    <label class="form-check-label" for="issnSortInput1">
                        Ascending <i class="bi bi-arrow-up"></i>
                    </label>
                </div>

                <div class="form-check">
                    <input {% if '-issn' in requested_sort %}checked{% endif %} class="form-check-input" type="checkbox"
                        name="sort" value="-issn" id="issnSortInput2">
                    <label class="form-check-label" for="issnSortInput2">
                        Descending <i class="bi bi-arrow-down"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="btn-group"><button class="btn btn-success" type="submit">Search</button></div>

        <!-- CLEAR FILTERS GROUP -->
        {% if filters_are_applied %}
        <div class="btn-group">
            <a href="{{ request.path }}{% if 'results' in request.GET %}?results={{ number_of_results }}{% endif %}"
                class="btn btn-outline-dark">
                Clear filters <i class="bi bi-x-lg"></i>
            </a>
        </div>
        {% endif %}
    </form>
</div>

{% if data %}
<table class="table table-light table-hover"><!-- user-select-none -->
    <thead style="position: sticky; top: 56px;" class="user-select-none">
        <tr>
            <th>TITLE</th>
            <th>ISSN</th>
            <th>DISCIPLINE</th>
            <th>CAT 2007</th>
            <th>CAT 2011</th>
        </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for record in data %}
        <tr>
            <td>{{ record.title}}</td>
            <td>{{ record.issn }}</td>
            <td>{{ record.discipline }}</td>
            <td>{{ record.cat_2007 }}</td>
            <td>{{ record.cat_2011 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center">No results</p>

<div class="alert alert-warning d-flex align-items-center" role="alert">
    <i class="me-2 bi bi-exclamation-triangle-fill"></i>
    <div>
        No results found. <a href="{{ first_page }}" class="alert-link">Go back to first page</a>
    </div>
</div>
{% endif %}
{% endblock %}